.center {
  text-align: center;
}

.graphic {
  @extend .center;
  height: 340px;
  width: 100vw;
  display: flex;
  justify-content: center;
  line-height: 0;
}

%pixel {
  min-height: 10px;
  min-width: 10px;
  display: inline-block;
}

.clean {
  @extend %pixel;
  background-color: rgb(251, 251, 251);
}

.dirty {
  @extend %pixel;
  background-color: #000;
}
