.title {
  font-size: 2rem;
  font-family: "Segoe UI", Verdana, Tahoma, "Times New Roman", Arial, serif;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.k-value {
  color: #970009;
}

.center {
  text-align: center;
}
